#Page1 {
    display: block;
    text-align: center;
}

#Page2 {
    display: none;
    text-align: center;
}

#Page3 {
    display: none;
    text-align: center;
}

#Page4 {
    display: none;
    text-align: center;
}

#Page5 {
    display: none;
    text-align: center;
}
 
body{
    background-image:url(https://image.freepik.com/vector-gratis/fondo-pintura-acuarela-rosa-vibrante_53876-58930.jpg);
    background-attachment: fixed;
    background-size: 100%; 
}

h1{
    font-size: 100px;
    color: rgb(255, 0, 140);
    text-align: center;
    font-family:cursive,'Courier New', Courier, monospace;
}

#texto{
    color:rgb(88, 12, 31);
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#texto a{
    color: palevioletred;
}

.firstAsk{
    color: coral;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace
}
#cifrar, #descifrar, #enviarP3, #enviarP4, .limpiar{
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    background-color: #1a0024;
    border-radius: 10px;
    border: 5px solid #ff33bb;
    font-family: 'Courier New', Courier, monospace;
}
.clear{
    font-size: 40px;
    color: rgb(255, 0, 140);
    text-align: center;
    font-family:cursive,'Courier New', Courier, monospace;

}
#posicionesC, #mensajeC, #posicionesD, #mensajeD{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 2px solid #1976D2;
    width: 30%;
    font-size: 25px;
    line-height: 35px;
    height: 70px;
    text-align: center;
    padding: 5px;
    background: transparent;
    color: rgb(255, 0, 140);
}
h2, h3{
    color: coral;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace
}
h2 #resultadoC, h3 #resultadoD{
    color: #46003a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
#enviarP1C, #enviarP1D{
    text-decoration: none;
    padding: 15px;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    background-color: #69168a;
    border-radius: 10px;
    border: 5px solid #ff33bb;
    font-family: 'Courier New', Courier, monospace;
}
